.splash-content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

button {
    font: 400 18px serif;
    color: rgb(56, 56, 56);
    border: none;
    background-color: transparent;
    &:hover{
        color: rgb(110, 110, 110);
        font-size: 19px;
        cursor: pointer;
    }
    &:focus{
        outline: none;
        color: rgb(110, 110, 110);
        font-size: 19px;
    }
}
