.character {
    width: 500px;

    &__info {
        display: flex;
        padding: 5px 0;

        &-title {
            display: inline-block;
            flex: 1;
        }

        &-value {
            display: inline-block;
            flex: 3;
        }
    }
}