<!-- <mat-card class="character">
  <mat-card-content *ngIf="character">
    <mat-list *ngFor="let info of characterInfos">
      <mat-list-item>
        {{info.title}}: {{info.value}}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card> -->

<div *ngIf="character" class="character">
  <div *ngFor="let info of characterInfos" class="character__info">
    <div class="character__info-title"><b>{{info.title}}</b></div>
    <div class="character__info-value">{{info.value}}</div>
  </div>
</div>

<!-- <div *ngIf="character" class="character">
  <div *ngFor="let characterInfo of characterInfos" class="character__info">
    <div class="character__info-title"><b>{{characterInfo.title}}</b></div>
    <div class="character__info-value">{{characterInfo.value}}</div>
  </div>
</div> -->
