.character {
    width: 500px;

    &__info {
        display: flex;
        padding: 5px 0;

        &-title {
            display: inline-block;
            flex: 2;
        }

        &-value {
            display: inline-block;
            flex: 5;
        }
    }
}

// .item {
//     width: auto;
//     height: auto;
//     margin: 10px auto;
//     border: 1px solid #eaeaea;
//     padding: 10px;
//   }