<div *ngIf="character" class="character">
  <div class="character__name">Name: {{character.name}}</div>
  <div class="character__culture">Culture: {{character.culture}}</div>
  <div class="character__birth">Birth: {{character.birth}}</div>
  <div class="character__titles" *ngIf="character.titles">Titles: {{titles}}</div>
  <div class="character__aliases" *ngIf="character.aliases">Aliases: {{aliases}}</div>
</div>

<!-- <div>
  <div *ngIf="character" class="character"></div>
  <mat-card >
    <mat-card-content>
      <p mat-line>Name: {{character.name}}</p>
      <p mat-line>Culture: {{character.culture}}</p>
      <p mat-line>Birth: {{birth}}</p>
      <p mat-line>Titles: {{titles}}</p>
      <p mat-line>Aliases: {{alias}}</p>
    </mat-card-content>
  </mat-card>
</div> -->
